article section {
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.1rem;
    align-items: center;
}

article section img {
    border-radius: 1vw;
    width: 90%;
}

article section div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
   

