/* TEXTE */
.annonce-txt {
    border: 1px solid rgba(0,0,0,.125);
    padding-top: 20px;
    border-top-right-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
    overflow: hidden;
}
/* TEXTE */

/* IMAGES */
.annonce-img {
    padding: 0;
}
.annonce-img img {
    border-top-left-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
    width:100%;
    height: 100%;
    object-fit: cover;
}
/* IMAGES */

/* BOUTON */
.bouton {
    text-align: end;
    margin-bottom: -4vh;
}
/* BOUTON */

/* COLONNES */
.annonce-txt, .annonce-img {
    margin-top: 5vh;
    max-height: 140px;
}
/* COLONNES */

