section form {
    margin-top: 2rem;
}

section form button {
    margin-top: 1rem;
}

section form div label.error {
    color:red;
}

section form div input.error, section form div textarea.error {
    border: 1px inset red;
    background-color: rgba(255, 0, 0, 0.01);
}

.alert-success {
    margin-top: 2rem;
}