/* HEADER */
header {
    margin-top:0px;
}
.galerie {
    padding: 0px;
}
.carousel-inner {
    margin-top: 0px;
    padding:0px;
    max-height: 60vh;
}
.carous {
    box-sizing: content-box;
    width: 100%;
    padding:0px;
}
/* HEADER */

/* ANNONCES */
.titre-2 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: -30px;
}
.cards {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}
.annonces-link {
    margin-top: 40px;
    text-align: center;
}
/* ANNONCES */