/* DERNIÈRES ANNONCES */
section article {
    width:90%;
    border-radius: 1vw!important;
    margin: 5vh auto auto;
    overflow: hidden;
}

section article img {
    height: 20vh;
    object-fit: cover;
}

section .cards > div:last-of-type {
    text-align: center;
    margin-top: 2rem;
}

section .cards  > p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
/* DERNIÈRES ANNONCES */

/* GALERIE */
.galerie {
    margin-top: 15vh;
    background-color: #fff;
    margin-bottom: -15vh;
    padding:15vh 0 15vh 0;
}

.galerie .col-12 {
    padding-right: 0;
    padding-left: 0;
}

.galerie .carousel-inner {
    height: 90vh;
}
/* GALERIE */