/* DERNIÈRES ANNONCES */
section article {
    width: 90%;
    border-radius: 1vw!important;
    margin: 2rem auto auto;
    overflow: hidden;
}

section article img {
    height: 20vh;
    object-fit: cover;
}

section .cards > div:last-of-type {
    text-align: center;
    margin-top: 2rem;
}

section .cards  > p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
/* DERNIÈRES ANNONCES */

/* GALERIE */
.galerie {
    background-color: #fff;
    margin-bottom: -5rem;
    padding: 5rem 0 5rem 0;
}

.galerie .col-12 {
    padding-right: 0;
    padding-left: 0;
}

.galerie .carousel-inner {
    max-height: 80vh;
}
/* GALERIE */