/*-- LATEST EVENTS --*/
section:first-of-type article {
    width: 90%;
    border-radius: 1vw !important;
    margin: 2rem auto auto;
    overflow: hidden;
}

section:first-of-type article img {
    height: 20vh;
    object-fit: cover;
}

section:first-of-type > div:last-of-type {
    text-align: center;
    margin-top: 9vh;
}

/*-- CAROUSEL --*/
section:last-of-type {
    background-color: #fff;
    margin-bottom: -5rem;
    padding: 5rem 0 5rem 0;
}

section:last-of-type img {
    max-height: 80vh;
    object-fit: cover;
}