/* NAVBAR */
.navbar-brand {
    margin-left: 20px;
}
.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}
.nav-item {
    margin-left:15px;
}
.titre-1 {
    margin-top:20px;
    text-align: center;
}
/* NAVBAR */

/* HEADER */
header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
header .row {
    text-align: center;
}
/* HEADER */

/* FOOTER */
footer {
    text-align: center;
    margin-top: 100px;
    padding-top: 50px;
    background-color: black;
    color: white;
}
.icon{
    height:40px!important;
}
/* FOOTER */