<<<<<<< HEAD
/* BODY */
body {
    background: rgb(205,8,131);
    background: linear-gradient(90deg, rgba(205,8,131,1) 0%, rgba(192,4,165,1) 25%, rgba(165,3,183,1) 50%, 
                                        rgba(122,12,188,1) 75%, rgba(83,10,192,1) 100%);
}
/* BODY */

/* HEADER */
header {
    background-color: #fff;
    text-align: center;
}

header h1 {
    padding-top: 2rem;
}

header .navbar {
    background-color: #fff!important;
=======
/* NAVBAR */
.navbar-brand {
    margin-left: 20px;
>>>>>>> parent of af11246... Commit de fin de journée - 05/03/2020
}

header .navbar-nav {
    margin-left: auto;
    margin-right: auto;
}
<<<<<<< HEAD
=======
.nav-item {
    margin-left:15px;
}
.titre-1 {
    margin-top:20px;
    text-align: center;
}
/* NAVBAR */
>>>>>>> parent of af11246... Commit de fin de journée - 05/03/2020

header .nav-item {
    margin-left:8px;
    margin-right:8px;
}
/* HEADER */
<<<<<<< HEAD

/* TUILE */
.tuile {
    /* Shadow */
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    /* Borders */
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    /* Margins */
    margin-top: 15vh;
    padding:7vh 6vw 9vh 6vw;
    margin-left: auto!important;
    margin-right: auto!important;
    /* Bg */
    background-color: #fff; 
=======
header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
header .row {
    text-align: center;
>>>>>>> parent of af11246... Commit de fin de journée - 05/03/2020
}
/* TUILE */

/* FOOTER */
footer {
    text-align: center;
<<<<<<< HEAD
    margin-top: 15vh;
    padding-top: 5vh;
    background-color: #fff;
}

footer img {
    height:40px;
    margin-bottom:0.5rem;
}
=======
    margin-top: 100px;
    padding-top: 50px;
    background-color: black;
    color: white;
}
.icon{
    height:40px!important;
}
>>>>>>> parent of af11246... Commit de fin de journée - 05/03/2020
/* FOOTER */