/* BODY */
body {
    background: rgb(205,8,131);
    background: linear-gradient(90deg, rgba(205,8,131,1) 0%, rgba(192,4,165,1) 25%, rgba(165,3,183,1) 50%, rgba(122,12,188,1) 75%, rgba(83,10,192,1) 100%);
}
.container {
    padding:10vh 6vw 10vh 6vw;
    background-color: #fff;
}
/* BODY */

/* NAVBAR */
.navbar {
    background-color: #fff!important;
}
.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}
.nav-item {
    margin-left:15px;
}
.navbar h1 {
    margin-top:20px;
    text-align: center;
}
/* NAVBAR */

/* HEADER */
header {
    margin-top: 15vh;
    text-align: center;
    margin-bottom: -15vh;
}
/* HEADER */

/* FOOTER */
footer {
    text-align: center;
    margin-top: 15vh;
    background-color: #fff;
    margin-bottom: 0!important;
}
.icon{
    height:40px!important;
}
/* FOOTER */

/* RESPONSIVE */